{
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "jsxParenBracketSameLine": false,
  "jsxBracketSameLine": false
}
